@keyframes cursorOnClickAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes showProjectOnHover {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.cursorOnClick {
  animation: cursorOnClickAnimation 0.4s forwards;
}

.removeCursor {
  transition: display 300ms ease-in-out;
  display: none;
}

.showProject {
  width: 596px;
  height: 310px;
  border-radius: 2px;

  background-image: url('/maki.PNG');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;

  animation: showProjectOnHover 550ms forwards;

  transition: animation 350ms ease-in-out;
}

.showProject1 {
  width: 596px;
  height: 310px;
  border-radius: 2px;

  background-image: url('/freshfood.PNG');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;

  animation: showProjectOnHover 550ms forwards;

  transition: animation 350ms ease-in-out;
}

.styledCursor {
  width: 15px;
  height: 15px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
